CS5010

File: mod10assignment_keeley.ipynb

Assignment: Module 10 Exercise

Name: Nicholas Keeley, ngk3pf

In [46]:
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv("tips.csv")
print(df)

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

#### Question 1: Write a summary about each aggregate function mentioned (np.mean, np.std, np.var, np.argmin, np.argmax, np.median, np.percentile).

np.mean: returns the average of an array.

np.std: returns the standard deviation of an array.

np.var: returns the variance of an array.

np.argmin: returns the index for the minimum value in an array.

np.argmax: returns the index for the maximum value in an array.

np.median: returns the median for an array.

np.percentile: accepts an array and a specified percentile. Returns a value within the array range that corresponds to the specified percentile.

#### Question 2: Come up with a small sample of code (with appropriate setup/data) that illustrates the usage of at least four (4) of the aggregate functions (from Part 1). Include the results/output as well.

In [48]:
# Sample aggregates.
print(np.mean(df.tip)) # 2.9982786885245902
print(np.var(df.tip)) # 1.9066085124966428
print(np.std(df.tip)) # 1.3807999538298958
print(np.percentile(df.tip,98)) # 6.527999999999997

2.9982786885245902
1.9066085124966428
1.3807999538298958
6.527999999999997

#### Question 3: Find a sample data set (or create a reasonable data set and place in an appropriate structure, e.g., DataFrame or other). Using GroupBy and splitting using more than one key, perform some queries against that data. Explain what question youâ€™re trying to answer and show the results/output. Come up with a total of three (3) different queries.


Query 1: I wanted to examine the mean bill and tip for smoker and non-smoker groups of every available size. Interestingly enough, these results indicated a higher average tip at smoker-size: 3 than any other smoker size.

Query 2: Next, I wanted to examine tip as in terms of scale: as a percentage of total bill. Who was really tipping the most within the categories above, on average? After calculating these values, I realized that smoker-size: 1 actually paid more in percentage tip, on average, than any other category within the groupby object. This would be useful information for establishments to know, since it could help them target or market to individual diners/customers.

Query 3: Finally, I wanted to examine when the largest total bills occured, on average, by size of group and day of the week. This revealed when customer groups of different sizes paid the biggest bills, on average.

In [49]:
g1=df.groupby(["smoker", "size"])
g1.agg("mean")

df["pct"]=df["tip"]/df["total_bill"]
g2=df.groupby(["smoker", "size"])
g2.agg("mean")

g3=df.groupby(["day", "size"])
g3.agg("mean")

           total_bill       tip       pct
day  size
Fri  1       8.580000  1.920000  0.223776
     2      16.321875  2.644375  0.168693
     3      15.980000  3.000000  0.187735
     4      40.170000  4.730000  0.117750
Sat  1       5.160000  1.000000  0.231832
     2      16.837170  2.517547  0.155289
     3      25.509444  3.797778  0.151439
     4      29.876154  4.123846  0.138289
     5      28.150000  3.000000  0.106572
Sun  2      17.560000  2.816923  0.180870
     3      22.184000  3.120667  0.152662
     4      26.688333  4.087778  0.153168
     5      27.000000  4.046667  0.159839
     6      48.170000  5.000000  0.103799
Thur 1      10.070000  1.830000  0.181728
     2      15.156875  2.442500  0.163935
     3      19.160000  2.692500  0.144599
     4      29.950000  4.218000  0.145515
     5      41.190000  5.000000  0.121389
     6      30.383333  5.300000  0.173706